{% extends 'admin.html.twig' %}

{% block title %}Hello CoursesListController!{% endblock %}

{% block body %}
<section class="block mt-5">
    <h2>Liste des sessions par cours</h2>
    <div id="calendar-admin"></div>
</section>
{% endblock %}
