{% extends 'login.html.twig' %}

{% block title %}Enregistrer un utilisateur{% endblock %}

{% block body %}
    <section>
        <h2>S'inscrire à notre Booking Online</h2>
        <p style="text-align:center;" >{{ notif }}</p>

        {{ form(form) }}
    </section>
{% endblock %}
