{% extends 'admin.html.twig' %}

{% block title %}Interface d'administration{% endblock %}

{% block body %}
<div class="block">
    <a href="{{ path('app_ext_planning_add') }}" class="btn-link">Ajouter un horaire</a>
    <div id="calendar" class="mt-4"></div>
</div>
{% endblock %}
