<p>
    Bonjour
</p>
<p>
    Une place s'est libérée au cours {{ cours }} à la date du {{ date }}.
</p>
<p>
    Attention ! Pour pouvoir réserver cette place disponible, vous devez nous contacter par téléphone au <a href="tel:+33475364052">04 75 36 40 52</a> ou par mail <a href="mailto:contact@lasallecrossfit.fr">contact@lasallecrossfit.fr</a> pour confirmer votre inscription.
</p>
<p>
    Nous espérons pouvoir vous retrouver à notre séance.
</p>
<p>
    Bien cordialement
</p>

<p>
    La salle Crossfit
</p>