<p>
	Bonjour
</p>
<p>
	Une place s'est libérée au cours
	{{ cours }}
	à la date du
	{{ date }}.
</p>
<p>
	Nous vous informerons donc s'il est possible de confirmer votre inscription.
</p>
<p>
	Bien cordialement
</p>

<p>
	La salle Crossfit
</p>
