{# templates/email/mon_template.html.twig #}

<p>
    Votre inscription au cours {{ courseName }} a été refusé. 
</p>

<p>
    Nous sommes navrés que vous ne puissiez participer au cours. N'hésitez pas cependant à découvrir nos autres créneaux disponibles.
</p>
<p>
    Vous pouvez également nous contacter pour toute demande supplémentaire par téléphone <a href="tel:+33475364052">04 75 36 40 52</a> ou par mail <a href="mailto:contact@lasallecrossfit.fr">contact@lasallecrossfit.fr</a>.
</p>