{# templates/email/mon_template.html.twig #}

<p>
    Votre inscription au cours {{ courseName }} a bien été validée. 
</p>

<p>Vous trouverez ci-dessous le récapitulatif du cours. Et nous sommes impatient de vous retrouver à ce cours.</p>
<ul>
    <li>{{ courseName }}</li>
    <li>Date et heure : {{ courseDate }}</li>
    <li>Lieu : <a target="_blank" rel="noopener" href="https://www.google.com/maps/dir//2+Rue+Amp%C3%A8re,+07200+Aubenas/@44.6098226,4.3079439,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x12b4e173f7b2b5ef:0x263c1b577ea2b837!2m2!1d4.3903445!2d44.6098522?entry=ttu">2 Rue Ampère, 07200 Aubenas</a></li>
</ul>

<p>
    Bien cordialement
</p>

<p>
    La salle Crossfit
</p>