{% extends 'admin.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}
    <section class="block">
        <h2>Réservation confirmée</h2>
        <p>
            Votre réservation a bien été prise en compte ! Nous vous souhaitons une agréable séance !
        </p>
    </section>
{% endblock %}
